<div class="container">
  <div class="small-container" style="display:flex;">
    <h1>Restaurants</h1>
    <%= link_to new_restaurant_path,  style:"padding-left:15px; align-self: center;" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
    <hr>
  </div>
  <% @restaurants.each do |restaurant| %>
    <ul>
      <li>
        <%= link_to restaurant_path(restaurant) do %>
          <p><%= restaurant.name %></p>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
